<nav class="navbar navbar-expand-lg bg-light">
<div class="container">
    <a class="navbar-brand" routerLink="/home">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/todo">Tarefas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/data-binding">Tabela de preço</a>
          </li>
        </ul>
    </div>
</div>
</nav>