<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Planos</h1>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>

<main>
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Simples</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$35<small class="text-muted fw-light">/mês</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 serviço incluso</li>
            <li>1 Usuario</li>
            <li>+50 tipos de serviçõs </li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">Silver</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$60<small class="text-muted fw-light">/mês</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>3 serviços</li>
            <li>2 Usuarios</li>
            <li> +79 tipos de serviços</li>
          </ul>
          <button type="button"  class="w-100 btn btn-lg btn-outline-primary">Gold</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">VIP</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$99<small class="text-muted fw-light">/mês</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>5 serviços</li>
            <li>3 Usuarios</li>
            <li>+110 tipos de serviços</li>
            <li>Kit de reparação mensal</li>
          </ul>
          <button type="button"  class="w-100 btn btn-lg btn-outline-primary">PREMIUM</button>
        </div>
      </div>
    </div>
  </div>